/*MAIN ADMIN PANEL*/
/*START DASHBOARD*/
@media screen and (max-width: 1368px) {
   .dashboard-table-top-margin {
       margin-top: 160px;
       position: absolute;
       width: 80%;
   }
    .dashboard-right-box .green-box {
        display: inline-block;
        margin-right: 6%;
    }
    .dashboard-right-box .blue-box {
        display: inline-block;
        margin-right: 6%;
    }
    .dashboard-right-box .yellow-box {
        display: inline-block;
    }
    .dashboard-right-box {
        margin-left: 38px;
        margin-top: 18px;
        width: 83%;
    }
}
@media screen and (max-width: 920px) {
    .dashboard-table-top-margin {
        z-index: 8888;
    }
    .admin2-menu {
        display: none;
        width: 145px!important;
    }
    .admin2-dashboard-content {
        width: 100%;
    }
    .toggle-menu-link {
        display: inline-block;
        float: right;
        margin-right: 25px;
        margin-top: 25px;
        font-size: 21px;
        color: #2b2a2a;
    }
    .admin-navbar {
        display: inline-block;
        position: absolute;
        z-index: 9999;
    }
}
@media screen and (max-width: 751px) {
    .dashboard-table-top-margin {
        overflow: scroll!important;
    }
    .dashboard-right-box .green-box {
        width: 149px;
        margin-right: 1%;
    }
    .dashboard-right-box .blue-box {
        width: 149px;
        margin-right: 1%;
    }
    .dashboard-right-box .yellow-box {
        width: 149px;
    }
}
@media screen and (max-width: 559px) {
    .dashboard-right-box {
        width: 86%;
    }
    .dashboard-table-top-margin {
        margin-top: 334px;
    }
    .dashboard-right-box .green-box {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        height: 90px;
    }
    .dashboard-right-box .blue-box {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        height: 90px;
    }
    .dashboard-right-box .yellow-box {
        display: block;
        width: 100%;
        height: 90px;
    }
    .dashboard-right-box .green-box .p-lead {
        padding-top: 11px;
    }
    .dashboard-right-box .blue-box .p-lead {
        padding-top: 11px;
    }
    .dashboard-right-box .yellow-box .p-lead {
        padding-top: 11px;
    }
    .dashboard-header img {
        display: none;
    }
    .dashboard-header .p-lead {
        display: none;
    }
    .admin-menu-name {
        display: block;
    }
    .admin2-menu ol a li img {
        display: none;
    }
    .logout-menu-show {
        display: block;
    }
    .fas.fa-sign-out-alt {
        font-size: 20px;
        margin-right: 13px;
    }
    .home-menu-toggle {
        display: block;
    }
    .dashboard-content {
        padding-left: 0;
    }
}
/*END DASHBOARD*/
/*END MAIN ADMIN PANEL*/