/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*RESET CSS BEGIN*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*RESET CSS END*/

/*HELPER CLASSES BEGIN*/
.alignLeft {
    float: left;
}
.alignRight {
    float: right;
}
.active {
    color: #f46767!important;
}
strong,
b {
    font-weight: 700;
}
em,
i {
    font-style: italic;
}
p,
ul li,
ol li {
    font-size: 17px;
    line-height: 23px;
}
/*HELPER CLASSES END*/

/*FONT*/
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: local('AvenirNextLTPro-Regular.otf'), url('AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: local('AvenirNextLTPro-Bold.otf'), url('AvenirNextLTPro-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirNextLTPro-Medium';
    src: local('AvenirNextLTPro-Medium.otf'), url('AvenirNextLTPro-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: local('AvenirNextLTPro-Demi.otf'), url('AvenirNextLTPro-Demi.otf') format('opentype');
}
/*END FONT*/

/*GENERAL RULES*/
/*START HOMEPAGE*/
body {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
}
.container-menu {
    padding: 20px 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.logo {
    width: 220px;
}
.nav {
    margin-top: 8px;
}
.nav li {
    display: inline-block;
}
.sign-in {
    color: white!important;
    padding: 8px 45px!important;
    background: #f46767;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.sign-in:hover {
    background: #c45555;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.register {
    border: 1px solid #f46767;
    color: #f46767!important;
    padding: 8px 45px!important;
    background: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.register:hover {
    background: #c45555;
    color: white!important;
    border: 1px solid #c45555;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.nav li a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding-bottom: 3px;
    -webkit-transition: border-bottom 0.1s, color 0.1s;
    -moz-transition: border-bottom 0.1s, color 0.1s;
    -ms-transition: border-bottom 0.1s, color 0.1stime;
    -o-transition: border-bottom 0.1s, color 0.1s;
    transition: border-bottom 0.1s, color 0.1s;
}
.nav li a:hover {
    color: #f46767;
    -webkit-transition: border-bottom 0.1s, color 0.1s;
    -moz-transition: border-bottom 0.1s, color 0.1s;
    -ms-transition: border-bottom 0.1s, color 0.1stime;
    -o-transition: border-bottom 0.1s, color 0.1s;
    transition: border-bottom 0.1s, color 0.1s;
}
.container {
    max-width: 1000px;
    width : 100%;
    margin: 0 auto;
    position: relative;
    padding: 40px 20px;
}
#slider {
    width: auto;
    height: 937px;
    background-image: url('../img/header_bg.png');
    background-size: cover;
    background-position: center;
}
.search {
    margin-top: 160px;
}
.search h1 {
    color: white;
    font-size: 56px;
    margin-bottom: 50px;
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
}
.search input {
    border: none;
    padding: 20px 20px 20px 20px;
    font-size: 15px;

}
.search select {
    color: #979797;
    width: 170px;
    border: none;
    padding: 19px 20px;
    font-size: 15px;
    margin-left: -4px;
    cursor: pointer;
    background-color: white;
    border-left: 1px solid lightgrey;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image:
            url("../img/drop-down-arrow.svg");
    background-position:
            calc(100% - 20px) calc(1.35em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
    background-size:
            12px 12px,
            12px 12px,
            3em 3em;
    background-repeat: no-repeat;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.search select:hover {
    background-color: rgb(244, 245, 245);
    color: #f46767;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.first-input {
    border-radius: 50px 0px 0px 50px;
}
.last-input {
    border-radius: 0px 50px 50px 0px;
}
#submit {
    cursor: pointer;
    margin-left: 7px;
    padding: 15px 20px 19px 20px;
    color: white;
    width: 200px;
    font-size: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #f46767;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
#submit:hover {
    background-color: #c45555;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
#slider {
    position: relative;
}
.popular-places {
    width: 100%;
    height: 400px;
    bottom: 0px;
    position: absolute;
    background-color: rgba(26,38,40,0.9);
}
.popular-places h2 {
    color: white;
    font-size: 40px;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
}
.popular-places .p-lead {
    color: white;
    margin: 20px 0px 30px 0px;
}
.restaurant-box {
    margin-left: 17px;
    display: inline-block;
    width: 300px;
    height: 350px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
.pic-box {
    height: 230px;
    position: relative;
}
.imgs {
    width: 100%;
}
.container-box {
    padding: 20px 15px;
}
.container-box h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2B2A2A;
    margin-bottom: 5px;
    float: left;
}
.container-box p {
    font-size: 15px;
    color: #8C8C8C;
    display: inline-block;
}
.container-box hr {
    margin: 4px 0px;
    border: 0;
    height: 1px;
    background: #8C8C8C;
    opacity: 0.5;
}
.container-box .star {
    width: 10px;
    float: right;
    margin-left: 3px;
    fill: #6dc7c1 !important;
}
.container-box .locationAndStar {
    width: 4.5%;
    fill: #F46767 !important;
    margin-right: 5px;
    display: inline-block;
}
.container-box-footer {
    clear: both;
}
.divider {
    width: 20px;
    display: inline-block;
}
.main-slider {
    width:1035px;
    display:block;
    margin:0 auto;
    position: relative;
}
.container-arrow {
    max-width: 1100px;
    width : 100%;
    margin: 0 auto;
    position: relative;
}
.left-circle {
    width: 50px;
    display: inline-block;
    cursor: pointer;
    margin-top: 130px;
    margin-left: -60px;
    position: absolute;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.left-circle:hover {
    opacity: 0;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.right-circle {
    width: 50px;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-top: 130px;
    margin-right: -50px;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.right-circle:hover {
    opacity: 0;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.main-slider .circle:hover {
    background-color: #F46767;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
#recently-added-places {
    margin-top: 200px;
}
#recently-added-places h2 {
    color: #2B2A2A;
    font-size: 40px;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
}
#recently-added-places .p-lead {
    color: #8C8C8C;
    margin: 20px 0px 30px 0px;
}
.recently-box {
    width: 300px;
}
.cube-box {
    width: 100%;
    height: 250px;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}

.cube-box-footer {
    padding-left: 5px;
}
.cube-box-footer p {
    color: #8C8C8C;
    font-size: 15px;
    display: inline-block;
}
.cube-box-footer h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2B2A2A;
    margin: 8px 0px 6px 0px;
}
.cube-box-footer .location {
    width: 4.5%;
    fill: #F46767 !important;
    margin-right: 5px;
    display: inline-block;
}
.slider-nav2 a {
    text-decoration: none;
}
.container-top-minus {
    margin-top: -40px;
}
#about-us {
    height: 550px;
    width: auto;
    margin: 100px 0px 60px 0px;
    background-image: url('../img/about_bg.png');
    background-size: cover;
    background-position: center;
}
.about-us-left {
    width: 60%;
    margin-top: 50px;
    float: left;
}
.about-us-left h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
}
.about-us-left .p-lead {
    color: white;
    margin: 20px 0px 30px 0px;
}
.about-us-right {
    float: right;
    margin-top: 135px;
    position: relative;
}
.about-us-right .event {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    fill: white !important;
    margin-right: 10px;
}
.about-us-right h3 {
    color: white;
    font-size: 20px;
}
.about-us-right h2 {
    color: #6dc7c1;
    font-size: 30px;
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
}
.about-number {
    float:right;
}
.about-us-right-first {
    display: table;
}
.about-us-right-second {
    display: table;
    margin: 28px 0px;
}
.about-us-right-three {
    display: table;
}
.svg.event.team {
    margin-top: 20px;
}
.svg.event.chat {
    margin-top: 23px;
}
.svg.event {
    margin-top: 16px;
}
#testimonials {
    background-image: url('../img/testimonials_bg.png');
    /*background-size: cover;*/
    /*background-position: center;*/
    height: 700px;
}
#testimonials h2 {
    color: #2B2A2A;
    font-size: 40px;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
    margin-top: 20px;
}
.testimonials-pic {
    width: 203px;
    height: 269px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.main-3 .testimonials-pic {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.main-3 {
    font-family:Arial;
    width:500px;
    display:block;
    margin-top: 20px;
}
.main-3 h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.main-3 .slick-slide{
    opacity: 0.6;
}

.slider-nav-3 .slick-current {
    opacity: 1;
    /*transform: scale(1.2, 1.2);*/
    transition: transform 0.3s;
}
.slider-nav-3 {
    transform: rotate(180deg);
    width: 700px;
    padding: 20px;
}
.slider-nav-3 h3 {
    transform: rotate(180deg);
}
.slider-for-3 {
    position: absolute!important;
    margin-left: 750px!important;
    width: 500px;
    height: 200px;
    margin-top: 40px!important;
}
.fas.fa-quote-left {
    font-size: 40px;
    margin-bottom: 20px;
}
.testimonial-text {
    margin-left: 20px;
}
.testimonial-text .p-lead {
    color: #8C8C8C;
}
.p-margin {
    margin-top: 20px;
}
#testimonials .right-circle {
    margin-right: 450px!important;
    margin-top: 180px!important;
}
#testimonials .right-circle:hover {
    opacity: 1;
}
#community {
    background-color: #F46767;
    margin-top: -60px;
}
.community-left {
    width: 70%;
    color: white;
}
.community-left h2 {
    font-size: 40px;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
    margin: 30px 0 30px 0;
}
.community-right {
    float: right;
    margin-top: -50px;
}
.community-right a{
    border: solid 1px white;
    text-decoration: none;
    color: white;
    padding: 20px 60px 20px 60px;
    border-radius: 50px;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.community-right a:hover {
    color: #F46767;
    background-color: white;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
#footer {
    background-color: #1a2628;
    padding-top: 30px;
    position: relative;
}
.footer-left {
    position: relative;
    float: left;
}
.footer-right {
    float: right;
}
#footer img {
    width: 300px;
    margin-left: -10px;
}
#footer .p-lead {
    color: white;
    margin: 30px 0 10px 0;
}
.footer-left .newsletter-input {
    background-color: #1a2628;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #F46767;
    padding: 10px 10px 10px 50px;
    color: white;
}
.footer-left .newsletter-submit {
    background-color: #F46767;
    color: white;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    border: none;
    width: 100px;
    margin-left: 6px;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
    cursor: pointer;
}
.footer-left .newsletter-submit:hover {
    background-color: white;
    color: #F46767;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.footer-left i{
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-top: 12px;
}
.footer-menu {
    float: right;
}
.footer-menu ol li {
    display: inline-block;
    margin: 0 10px 0 10px;
}
.footer-menu ol li a {
    color: white;
    text-decoration: none;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.footer-menu ol li a:hover {
    color: #F46767;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.footer-social-icon {
    position: absolute;
    margin: 130px 0 0 270px;
}
.footer-social-icon a{
    color: #6dc7c1;
    font-size: 20px;
}
.footer-social-icon a {
    margin: 0 20px 0 20px;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.footer-social-icon a:hover {
    color: white;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
#footer hr {
    clear: both;
    margin-top: 230px;
}
.copyright {
    margin-top: 50px;
    color: white;
}
/*END HOMEPAGE*/

/*START PLANS&PRICING*/
#header {
    background-image: url('../img/header_bg.png');
    height: 200px;
    color: white;
}
#header h2 {
    font-size: 40px;
    margin: 20px 0 20px 0;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
}
#free {
    width: 240px;
    height: 1080px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
.free-header {
    width: 100%;
    height: 80px;
    background-color: #787676;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
}
.free-header h3 {
    margin-top: 30px;
    display: inline-block;
    font-size: 23px;
    color: white;
}
.free-header-2 {
    height: 50px;
    width: 100%;
    background-color: #84e6e0;
    display: inline-block;
    color: white;
    margin-bottom: 20px;
}
.free-header-2 .p-lead {
    margin-top: 15px;
}
.content {
    padding: 0 15px 0 15px;
}
.content .p-lead {
    font-size: 14px;
    margin: 10px 0 10px 0;
    color: #8C8C8C;
}
.content .p-lead .fa-check {
    color: #6dc7c1;
}
.content .p-lead .fa-times {
    color: #F46767;
}
.content a {
    text-decoration: none;
    color: white;
    padding: 15px 0 15px 0;
    margin: 20px 0 20px 0;
    background-color: #F46767;
    border-radius: 50px;
    width: 150px;
    display: inline-block;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.content a:hover {
    background-color: #c45555;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
#silver {
    width: 240px;
    height: 1080px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    display: inline-block;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
#silver .free-header {
    background-color: #504f4f!important;
}
#silver .free-header-2 {
    background-color: #5dc9c2!important;
}
#gold {
    width: 240px;
    height: 1080px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
#gold .free-header {
    background-color: #3c3b3b!important;
}
#gold .free-header-2 {
    background-color: #3bbbb3!important;
}
#platinum {
    width: 240px;
    height: 1080px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
#platinum .free-header {
    background-color: #2b2a2a!important;
}
#platinum .free-header-2 {
    background-color: #168e87!important;
}
#plans {
    margin: 100px 0 100px 0;
}
/*END PLANS&PRICING*/
/*END GENERAL RULES*/