@media screen and (max-width: 1055px) {
    .center-response {
        display: block;
        margin: 0 auto 0 auto;
        float: none;
        text-align: center;
    }
    .nav.alignRight.center-response {
        margin: 20px 0 20px 0;
    }
}
@media screen and (max-width: 1200px) {
    .main-slider {
        width: 80%;
    }
    .restaurant-box {
        width: 90%;
        height: 100%;
    }
    .right-circle {
        margin-right: -67px;
    }
    .container {
        width: 71%;
    }
    .first-input {
        width: 22%;
    }
    #location {
        width: 17%;
    }
    #category {
        width: 17%;
    }
    #distance {
        width: 17%;
    }
    #submit {
        width: 17%;
    }
}
@media screen and (max-width: 1150px) {
    .container {
        width: 73%;
    }
}
@media screen and (max-width: 1100px) {
    .container {
        width: 77%;
    }
}
@media screen and (max-width: 1100px) {
    .container {
        width: 76%;
    }
}
@media screen and (max-width: 1100px) {
    .search input {
        font-size: 2.1vh;

    }
}
@media screen and (max-width: 945px) {
    .search input {
        display: block;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        width: 61%;
        margin: 0 auto 10px auto;
        padding: 15px!important;
        height: 18px!important;
    }
    .search {
        margin-top: 47px;
    }
    .search h1 {
        margin-top: -20px;
    }
    #location {
        display: block;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        width: 66%;
        margin: 0 auto 10px auto;
        padding: 15px!important;
        height: 48px!important;
    }
    #category {
        display: block;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        width: 66%;
        margin: 0 auto 10px auto;
        padding: 15px!important;
        height: 48px!important;
    }
    #distance {
        display: block;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        width: 66%;
        margin: 0 auto 10px auto;
        padding: 15px!important;
        height: 48px!important;
    }
    #submit {
        display: block;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        width: 66%;
        margin: 0 auto 10px auto;
        padding: 15px!important;
        height: 48px!important;
    }
    .search h1 {
        text-align: center;
    }
}
@media screen and (max-width: 660px) {
    .search input {
        width: 80%;
    }
}
@media screen and (max-width: 830px) {
    .menu-buttons-block {
        display: block!important;
        margin-top: 30px;
    }
}
@media screen and (max-width: 384px) {
    .search h1 {
        font-size: 43px;
    }
}
@media screen and (max-width: 860px) {
    #location {
        width: 67%;
    }
    #category {
        width: 67%;
    }
    #distance {
        width: 67%;
    }
    #submit {
        width: 67%;
    }
}
@media screen and (max-width: 735px) {
    #location {
        width: 67%;
    }
    #category {
        width: 67%;
    }
    #distance {
        width: 67%;
    }
    #submit {
        width: 67%;
    }
}
@media screen and (max-width: 750px) {
    #location {
        width: 68%;
    }
    #category {
        width: 68%;
    }
    #distance {
        width: 68%;
    }
    #submit {
        width: 68%;
    }
}
@media screen and (max-width: 660px) {
    .search input {
        width: 82%;
    }
    #location {
        width: 89%;
    }
    #category {
        width: 89%;
    }
    #distance {
        width: 89%;
    }
    #submit {
        width: 89%;
    }
}
@media screen and (max-width: 600px) {
    #location {
        width: 90%;
    }
    #category {
        width: 90%;
    }
    #distance {
        width: 90%;
    }
    #submit {
        width: 90%;
    }
}
@media screen and (max-width: 520px) {
    #location {
        width: 91%;
    }
    #category {
        width: 91%;
    }
    #distance {
        width: 91%;
    }
    #submit {
        width: 91%;
    }
}
@media screen and (max-width: 496px) {
    #location {
        width: 92%;
    }
    #category {
        width: 92%;
    }
    #distance {
        width: 92%;
    }
    #submit {
        width: 92%;
    }
}
@media screen and (max-width: 450px) {
    #location {
        width: 93%;
    }
    #category {
        width: 93%;
    }
    #distance {
        width: 93%;
    }
    #submit {
        width: 93%;
    }
}
@media screen and (max-width: 410px) {
    .search input {
        width: 83%;
    }
    #location {
        width: 94%;
    }
    #category {
        width: 94%;
    }
    #distance {
        width: 94%;
    }
    #submit {
        width: 94%;
    }
}
@media screen and (max-width: 366px) {
    .search input {
        width: 83%;
    }
    #location {
        width: 95%;
    }
    #category {
        width: 95%;
    }
    #distance {
        width: 95%;
    }
    #submit {
        width: 95%;
    }
}
@media screen and (max-width: 350px) {
    #location {
        width: 97%;
    }
    #category {
        width: 97%;
    }
    #distance {
        width: 97%;
    }
    #submit {
        width: 97%;
    }
}
@media screen and (max-width: 330px) {
    #location {
        width: 97%;
    }
    #category {
        width: 97%;
    }
    #distance {
        width: 97%;
    }
    #submit {
        width: 97%;
    }
}
@media screen and (max-width: 520px) {
    .search h1 {
        font-size: 45px;
    }
}
@media screen and (max-width: 420px) {
    .search h1 {
        font-size: 37px;
    }
}
@media screen and (max-width: 500px) {
    .navbar {
        display: none;
    }
    .nav li {
        display: block;
    }
    .nav.alignRight.center-response{
        margin-top: 40px!important;
    }
    .menu-collapse {
        display: inline-block!important;
    }
    .mobile-font {
        font-size: 19px;
    }
    .toggle-menu-link {
        color: #2b2a2a;
    }
    .register {
        padding: 7px 35px!important;
    }
    .sign-in {
        padding: 7px 35px!important;
    }
    .logo.alignLeft.center-response {
        float: left;
        text-align: start;
    }
    .logo {
        width: 170px;
    }
    .fa-bars {
        display: inline-block!important;
        float: right;
        font-size: 25px;
        cursor: pointer;
    }
}
@media screen and (max-width: 343px) {
    .menu-collapse.top-distance-mobile {
        margin-top: 25px!important;
    }
    .register {
        padding: 7px 29px!important;
    }
}