/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*RESET CSS BEGIN*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*RESET CSS END*/

/*HELPER CLASSES BEGIN*/
.alignLeft {
    float: left;
}
.alignRight {
    float: right;
}
strong,
b {
    font-weight: 700;
}
em,
i {
    font-style: italic;
}
p,
ul li,
ol li {
    font-size: 17px;
    line-height: 23px;
}
/*HELPER CLASSES END*/

/*FONT*/
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: local('AvenirNextLTPro-Regular.otf'), url('AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: local('AvenirNextLTPro-Bold.otf'), url('AvenirNextLTPro-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirNextLTPro-Medium';
    src: local('AvenirNextLTPro-Medium.otf'), url('AvenirNextLTPro-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: local('AvenirNextLTPro-Demi.otf'), url('AvenirNextLTPro-Demi.otf') format('opentype');
}
/*END FONT*/

/*GENERAL RULES*/
body {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
}
.container-menu {
    padding: 20px 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.logo {
    width: 220px;
}
.nav {
    margin-top: 8px;
}
.nav li {
    display: inline-block;
}
.sign-in {
    color: white!important;
    padding: 8px 45px!important;
    background: #f46767;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.sign-in:hover {
    background: #c45555;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.register {
    border: 1px solid #f46767;
    color: #f46767!important;
    padding: 8px 45px!important;
    background: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.register:hover {
    background: #c45555;
    color: white!important;
    border: 1px solid #c45555;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.nav li a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding-bottom: 3px;
    -webkit-transition: border-bottom 0.1s, color 0.1s;
    -moz-transition: border-bottom 0.1s, color 0.1s;
    -ms-transition: border-bottom 0.1s, color 0.1stime;
    -o-transition: border-bottom 0.1s, color 0.1s;
    transition: border-bottom 0.1s, color 0.1s;
}
.nav li a:hover {
    color: #f46767;
    -webkit-transition: border-bottom 0.1s, color 0.1s;
    -moz-transition: border-bottom 0.1s, color 0.1s;
    -ms-transition: border-bottom 0.1s, color 0.1stime;
    -o-transition: border-bottom 0.1s, color 0.1s;
    transition: border-bottom 0.1s, color 0.1s;
}
.container {
    max-width: 1000px;
    width : 100%;
    margin: 0 auto;
    position: relative;
    padding: 40px 20px;
}
#slider {
    width: auto;
    height: 937px;
    background-image: url('../img/header_bg.png');
    background-size: cover;
    background-position: center;
}
.search {
    margin-top: 160px;
}
.search h1 {
    color: white;
    font-size: 56px;
    margin-bottom: 50px;
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
}
.search input {
    border: none;
    padding: 20px 20px;
    font-size: 15px;
}
.search select {
    color: #979797;
    width: 170px;
    border: none;
    padding: 19px 20px;
    font-size: 15px;
    margin-left: -4px;
    cursor: pointer;
    background-color: white;
    border-left: 1px solid lightgrey;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image:
            url("../img/drop-down-arrow.svg");
    background-position:
            calc(100% - 20px) calc(1.35em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
    background-size:
            12px 12px,
            12px 12px,
            3em 3em;
    background-repeat: no-repeat;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.search select:hover {
    background-color: rgb(244, 245, 245);
    color: #f46767;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
.first-input {
    border-radius: 50px 0px 0px 50px;
}
.last-input {
    border-radius: 0px 50px 50px 0px;
}
#submit {
    cursor: pointer;
    margin-left: 7px;
    padding: 15px 20px 19px 20px;
    color: white;
    width: 200px;
    font-size: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #f46767;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
#submit:hover {
    background-color: #c45555;
    -webkit-transition: 0.3s!important;
    -moz-transition: 0.3s!important;
    -ms-transition: 0.3s!important;
    -o-transition: 0.3s!important;
    transition: 0.3s!important;
}
#slider {
    position: relative;
}
.popular-places {
    width: 100%;
    height: 400px;
    bottom: 0px;
    position: absolute;
    background-color: rgba(26,38,40,0.9);
}
.popular-places h2 {
    color: white;
    font-size: 40px;
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
}
.popular-places .p-lead {
    color: white;
    margin: 20px 0px 30px 0px;
}
#recently-added-places {
    height: 700px;
}
.restaurant-box {
    margin-left: 17px;
    display: inline-block;
    width: 300px;
    height: 350px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
.pic-box {
    height: 230px;
    position: relative;
}
.imgs {
    width: 100%;
}
.container-box {
    padding: 20px 15px;
}
.container-box h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2B2A2A;
    margin-bottom: 5px;
    float: left;
}
.container-box p {
    font-size: 15px;
    color: #8C8C8C;
    display: inline-block;
}
.container-box hr {
    margin: 4px 0px;
    border: 0;
    height: 1px;
    background: #8C8C8C;
    opacity: 0.5;
}
.container-box .star {
    width: 10px;
    float: right;
    margin-left: 3px;
    fill: #6dc7c1 !important;
}
.container-box .locationAndStar {
    width: 4.5%;
    fill: #F46767 !important;
    margin-right: 5px;
}
.container-box-footer {
    clear: both;
}
.divider {
    width: 20px;
    display: inline-block;
}
.main-slider {
    width:1035px;
    display:block;
    margin:0 auto;
}
.container-arrow {
    max-width: 1100px;
    width : 100%;
    margin: 0 auto;
    position: relative;
}

/*END GENERAL RULES*/